<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RO Project</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="nav">
            <div class="right">
                <div class="logo"><a href="#"><img src="{% static "image/logo-head.svg" %}" alt=""></a></div>
            </div>
            <div class="left">
                <div class="about">
                    <a href="page/about.html">
                        <h4>A propos</h4>
                    </a>
                </div>
                <div class="line"></div>
                <div class="team">
                    <ul>
                        <li><p>FALY</p></li>
                        <li><p>ZO NARINDRA</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <form action="resoudre" method="POST" class="content">
                {% csrf_token %}
                <div class="exo_content">
                    <div class="quantity">
                        <h4>Quantité demandée : </h4>
                        <p>(les valeurs doivent être separées par des virgules)</p>
                        <input type="text" required name="dataX" id="dataX" placeholder="exemple : 56 ; 85 ; 20 ; 65">
                    </div>
                    <div class="quantity">
                        <h4>Quantité disponible : </h4>
                        <p>(les valeurs doivent être separées par des virgules)</p>
                        <input type="text" required name="dataY" id="dataY" placeholder="exemple : 15 ; 48 ; 98 ; 64">
                    </div>
                    <div class="quantity">
                        <button type="button" id="forms" class="btn" > Generer </button>
                    </div>
                    <div class="button_content" >
                        <div>
                            <select class="choice" name="selection">
                                <option value="miniLi">MiniLi</option>
                                <option value="bHammer">Balas Hammer</option>
                            </select>
                        </div>
                        <div>
                            <button value="resoudre" class="btn"><img src="{% static "image/resoudre.svg" %}" height="100%"></button>
                        </div>
                    </div>
                </div>
                <div class="tab_content" id="myDynamicTable">
{#                    <h4>Coût unitaire du transport : </h4>#}
{#                    <table>#}
{#                        <tr>#}
{#                            <td><input type="text"></td>#}
{#                            <td><input type="text"></td>#}
{#                            <td><input type="text"></td>#}
{#                            <td><input type="text"></td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td><input type="text"></td>#}
{#                            <td><input type="text"></td>#}
{#                            <td><input type="text"></td>#}
{#                            <td><input type="text"></td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td><input type="text"></td>#}
{#                            <td><input type="text"></td>#}
{#                            <td><input type="text"></td>#}
{#                            <td><input type="text"></td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td><input type="text"></td>#}
{#                            <td><input type="text"></td>#}
{#                            <td><input type="text"></td>#}
{#                            <td><input type="text"></td>#}
{#                        </tr>#}
{#                    </table>#}
                </div>
            </form>
            <div class="logo_content">
                <div class="logo_foot">
                    <img src="{% static "image/LOGO-GM.svg" %}" alt="">
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_down">
                <div class="text_prime">PROJET  RO  20200  <span>M1  IG</span></div>
                <div class="text_second">designed  by  <span>Valiavo</span></div>
            </div>
        </div>
    </div>

<script>
    var forms = document.getElementById('forms');

forms.onclick = function addTable() {
    const x = document.getElementById('dataX').value;
    const y = document.getElementById('dataY').value;

    if(x === '' | y === ''){
        alert('Valeur vide!')
    }else {
        const dataX = x.split(";");
    const dataY = y.split(";");

      var myTableDiv = document.getElementById("myDynamicTable");

      {#remove all child #}

      if (myTableDiv.hasChildNodes()) {
         while (myTableDiv.lastElementChild) {
             myTableDiv.removeChild(myTableDiv.lastElementChild);
        }
      }

      var table = document.createElement('TABLE');
      var tableBody = document.createElement('TBODY');
      table.appendChild(tableBody);
      var th = document.createElement('TR');
      var td = document.createElement('TH');
      th.appendChild(td);

      {#donneé quantite disponible#}
      for (var i = 0; i < dataX.length; i++) {
          var td = document.createElement('TH');
          td.appendChild(document.createTextNode(dataX[i]));
          th.appendChild(td);
      }
      tableBody.appendChild(th);

        for (var i = 0; i < dataY.length; i++) {
            {#donne quantité disponible#}
            var tr = document.createElement('TR');
            tableBody.appendChild(tr);
            var th = document.createElement('TH');
            th.appendChild(document.createTextNode(dataY[i]));
            tr.appendChild(th);
            for (var j = 0; j < dataX.length; j++) {
                var td = document.createElement('TD');
                var input = document.createElement('INPUT');
                input.setAttribute('name', i.toString() + j.toString());
                input.setAttribute('id', 'inputCout');
                input.setAttribute('required','');
                tr.appendChild(td);
                td.appendChild(input);
        }
      }
      {#var select = document.createElement('SELECT');#}
      {##}
      {#Creation selection#}
      {#select.setAttribute('name', 'selection');#}
      {#select.setAttribute('id', '');#}
      {##}
      {#var option1 = document.createElement('OPTION');#}
      {#option1.setAttribute('value', 'miniLi');#}
      {#option1.appendChild(document.createTextNode("MiniLi"));#}
      {#select.appendChild(option1);#}
      {##}
      {#var option2 = document.createElement('OPTION');#}
      {#option2.setAttribute('value', 'bHammer');#}
      {#option2.appendChild(document.createTextNode("Balas Hammer"));#}
      {#select.appendChild(option2);#}
      {##}
      {#var input = document.createElement('INPUT');#}
      {#input.setAttribute('type','submit');#}
      {#input.setAttribute('value','Resoudre');#}

      myTableDiv.appendChild(table);
      {#myTableDiv.appendChild(select);#}
      {#myTableDiv.appendChild(input);#}
    }


}
</script>
</body>
</html>